.acccontainer {
  margin: 20px 0;
  background: url('../img/airport_6.jpg') no-repeat;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #909090;
  position: relative;
  display: flex;
}

.authbutton {
  background-color: rgb(75, 44, 21);
  height: 100px;
  width: 150px;
  margin-top: 80px;
  margin-left: 50px;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.inp_f_a {
  color: black;
  background: white;
  margin-top: 20px;
  margin-left: 5%;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  padding: 20px;
}

.wrap_a {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  overflow: auto;
}